<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ms.tests">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TestSelectionActivity"
	    android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tap.TapTestActivity" />
        <activity android:name=".tap.TapTestResultActivity" />
        <activity android:name=".tap.TapConfigActivity" />
        <activity android:name=".spiral.SpiralTestActivity" />
        <activity android:name=".spiral.SpiralTestResultActivity" />
        <activity
            android:name=".bubble.BubbleTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bubble.BubbleTestResultsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".level.LevelTestActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".level.LevelTestResultsActivity" />
        <activity
            android:name=".rotation.RotateTestCalibrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rotation.RotateTestActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".rotation.RotateResultActivity" />
        <activity android:name=".sway.SwayTestCalibration" android:screenOrientation="portrait"/>
        <activity android:name=".sway.SwayTestConfig" />
        <activity android:name=".sway.SwayTestResults" />
    </application>

</manifest>
